# Frontend Environment Variables
NEXT_PUBLIC_API_URL=http://localhost:5000
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAwBPNLjFjOMrnEsKNVxN3F-toFjV_kUgs
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=stkpush-cff51.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=stkpush-cff51
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=stkpush-cff51.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=567137630101
NEXT_PUBLIC_FIREBASE_APP_ID=1:567137630101:web:1234567890
NEXT_PUBLIC_ADMIN_EMAILS=let@admin.com

# Backend Environment Variables
PORT=5000
NODE_ENV=development
ADMIN_EMAILS=let@admin.com
FIREBASE_PROJECT_ID=stkpush-cff51
FIREBASE_CLIENT_EMAIL=your-service-account@stkpush-cff51.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
